<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Pathetic Language" Language="1033" Version="1.0.0.0" Manufacturer="Aditya-IG-10" UpgradeCode="9e0f87b0-7e56-4a8d-a229-1e82bc4c9999">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of Pathetic Language is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <!-- Use a minimal UI -->
        <UIRef Id="WixUI_Minimal" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="PatheticLang">
                </Directory>
            </Directory>
        </Directory>

        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="PatheticFiles" Guid="3c501de3-8f84-4e63-9b1d-1c1c5b1b4d8e">
                <File Id="CliPy" Source="dist-files/cli.py" />
                <File Id="InterpreterPy" Source="dist-files/interpreter.py" />
                <File Id="RunnerPy" Source="dist-files/runner.py" />
                <File Id="ReadmeMd" Source="dist-files/README.md" />
                <File Id="HelloPth" Source="dist-files/hello.pth" />
            </Component>
        </DirectoryRef>

        <Feature Id="MainFeature" Title="Pathetic Language" Level="1">
            <ComponentRef Id="PatheticFiles" />
        </Feature>
    </Product>
</Wix>